/*드림코딩 by 엘리 웹사이트 따라만들기 ,반응형 헤더편
 들어가면 css 기본 제공 변수 사용법이 나와있음. 참고.

 https://youtu.be/X91jsJyZofw
 
 */

body {
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263353;
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
    color: white;
}

.navbar__logo i {
    color: #d49466;
}

.navbar__toggleBtn {
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: #d49466;
    display: none;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li:hover {
    background-color: #d49466;
    border-radius: 4px;
}

.navbar__icons {
    list-style: none;
    color: white;
    display: flex;
    padding-left: 0;
}

.navbar__icons li {
    padding: 8px 12px;

}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    
    }
    .navbar__menu li:hover {
        background-color: #d49466;
    }

    .navbar__icons {
        justify-content: center;
        width: 100%;
        display: none;
    }
    .navbar__toggleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
}